@model IEnumerable<PruebaTecnica.Models.Servicio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class ="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de Servicios</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Servicio" asp-action="Crear" class="btn btn-primary">Nuevo Servicio</a>
        </div>
    </div>
    <br/>
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Nombre Servicio
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th width="5%">@item.Id</th>
                        <th width="30%">@item.NombreServicio</th>
                        <th width="40%">@item.Descripcion</th>
                        <th class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Servicio" asp-action="Editar" asp-route-Id="@item.Id" class="btn btn-primary mx-2">
                                    Editar
                                </a>
                                <a asp-controller="Servicio" asp-action="Eliminar" asp-route-Id="@item.Id" class="btn btn-danger mx-2">
                                    Eliminar
                                </a>
                            </div>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay registros de Servicios</p>
    }

</div>

